<!-- <app-dashbord-statistique></app-dashbord-statistique> -->
<app-header-dasboard></app-header-dasboard>
<div class="listeapprenent mt-5 mb-5">
  <div class="container">
  <div class="title text-center">
    <h3>Listes des apprenants</h3>
  </div>

  <div class="listecontainer" id="liste">
    <div >
      <button class="btn btn-outline-warning mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal" id="user"> Ajouter apprenant</button>
    </div>

    <div class="card-body shadow-lg">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                    <th appCouleurfond class="text-white fw-bold">Prenom</th>
                      <th appCouleurfond class="text-white fw-bold">Nom</th>
                      <th appCouleurfond class="text-white fw-bold">Email</th>
                      <th appCouleurfond class="text-white fw-bold">Niveau</th>
                      <th appCouleurfond class="text-white fw-bold">annnee</th>
                      <th appCouleurfond class="text-white fw-bold">activer</th>
                      <th appCouleurfond class="text-white fw-bold">desactiver</th>
                      <th appCouleurfond class="text-white fw-bold">detail</th>
                  </tr>
              </thead>
              <tfoot>
              </tfoot>
              <tbody *ngFor="let element of usersdata">
                  <tr *ngIf="element.role === '3'">
                      <td >{{element.prenom}} </td>
                      <td>{{element.nom}} </td>
                      <td>{{element.email}} </td>
                      <td>{{element.niveau}}</td>
                      <td>{{element.annee}} </td>
                      <td>
                         <div class="d-flex justify-content-evenly">
                        <button class="btn btn-outline-success">
                          <i class="bi bi-person-fill-x" style="font-size: 20px;"></i>
                        </button>
                      </div>
                       </td>
                      <td>
                         <div class="d-flex justify-content-evenly">
                          <button class="btn btn-outline-danger ">
                            <i class="bi bi-person-fill-up" style="font-size: 20px;"></i>
                          </button>
                      </div>
                       </td>
                      <td>
                        <div class="d-flex justify-content-center">
                          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-detail" (click)="selectElement (element)"  ><i class="bi bi-person-vcard"style="font-size: 20px;"  ></i></button>
                        </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
  </div>
</div>

<!-- modall ajout-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apprenant</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" accordion-header></button>
      </div>
      <div class="modal-body">
        <form action="" >
          <div class="col-md-12">
            <label for="prenom" class="form-label">Prenom:</label>
            <input type="text" name="prenom" class="form-control" id="validationCustom01" placeholder="Prenom" required [(ngModel)]="formuStudent.prenom"  >
          </div>
          <div class="col-md-12">
            <label for="nom" class="form-label">Nom:</label>
            <input type="text" name="nom" class="form-control" id="validationCustom01" placeholder="Nom" required [(ngModel)]="formuStudent.nom" >
          </div>
          <div class="col-md-12">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" class="form-control" id="validationCustom01" placeholder="email" required [(ngModel)]="formuStudent.email" >
          </div>
          <div class="col-md-12">
            <label for="password" class="form-label">Password:</label>
            <input type="text" name="password" class="form-control" id="password" placeholder="Password" required [(ngModel)]="formuStudent.password" >
          </div>
          <div class="col-md-12">
            <label for="adresse" class="form-label">Annee:</label>
            <input type="date" name="annee" id="annee" placeholder="annee" [(ngModel)]="formuStudent.annee" >
          </div>
          <div class="col-md-12">
            <label for="adresse" class="form-label">Niveau:</label>
            <select class="form-select form-select-sm mb-3" name="niveau" aria-label="Large select example" [(ngModel)]="formuStudent.niveau" >
              <option selected>choisis le niveau</option>
              <option value="Licence 1">Licence 1</option>
              <option value="Licence 2">Licence 2</option>
              <option value="Licence 3">Licence 3</option>
              <option value="Master 1">Master 1</option>
              <option value="Master 2">Master 2</option>
            </select>
          </div>
          <button class="btn btn-primary" type="submit" (click)="SoumettreFormlaire ()" >Ajouter</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- fin modal ajout -->

<!-- modal detaiil -->
<div class="modal fade" id="exampleModal-detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content" >
      <div class="modal-body" appCouleurfond>
        <div class="card-container" appColorhover id="detail" *ngIf="emelementSelectioner">
          <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
          <h3 class="text-black fw-bold"> {{emelementSelectioner.prenom}}  {{emelementSelectioner.nom}} </h3>
          <h6  class="text-black fw-bold"> {{emelementSelectioner.niveau}}</h6>
          <p class="text-black fw-bold"> {{emelementSelectioner.email}}</p>
          <p class="text-black fw-bold"> {{emelementSelectioner.annee}}</p>
          <div class=" d-flex justify-content-around pt-4">
          <button class="btn btn-primary" id="boutons"  data-bs-toggle="modal" data-bs-target="#exampleModal-modif" >Modifier</button>
          <button type="button" class="btn btn-secondary mb-4" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- fin modal detail -->

<!-- modal Modifier -->

<div class="modal fade" id="exampleModal-modif" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apprenant</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" accordion-header></button>
      </div>
      <div class="modal-body">
        <form action="" >
          <div class="col-md-12">
            <label for="prenom" class="form-label">Prenom:</label>
            <input type="text" name="prenom" class="form-control" id="validationCustom01" placeholder="Prenom" required [(ngModel)]="formuStudent.prenom"  >
          </div>
          <div class="col-md-12">
            <label for="nom" class="form-label">Nom:</label>
            <input type="text" name="nom" class="form-control" id="validationCustom01" placeholder="Nom" required [(ngModel)]="formuStudent.nom" >
          </div>
          <div class="col-md-12">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" class="form-control" id="validationCustom01" placeholder="email" required [(ngModel)]="formuStudent.email" >
          </div>
          <div class="col-md-12">
            <label for="password" class="form-label">Password:</label>
            <input type="text" name="password" class="form-control" id="password" placeholder="Password" required [(ngModel)]="formuStudent.password" >
          </div>
          <div class="col-md-12">
            <label for="adresse" class="form-label">Annee:</label>
            <input type="date" name="annee" id="annee" placeholder="annee" [(ngModel)]="formuStudent.annee" >
          </div>
          <div class="col-md-12">
            <label for="adresse" class="form-label">Niveau:</label>
            <select class="form-select form-select-sm mb-3" name="niveau" aria-label="Large select example" [(ngModel)]="formuStudent.niveau" >
              <option selected>choisis le niveau</option>
              <option value="Licence 1">Licence 1/option>
              <option value="Licence 2">Licence 2</option>
              <option value="Licence 3">Licence 3</option>
              <option value="Master 1">Master 1</option>
              <option value="Master 2">Master 2</option>
            </select>
          </div>
          <button class="btn btn-primary" type="submit" (click)="modeifierElement ()" >modifier</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Fin modal Modifier -->


