.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  flex-wrap: wrap-reverse;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 60%;
  margin: auto;
  margin-top: 5em;
}

.Container_left {
  min-height: 570px;
  width: 450px;
  padding: 1em;
  border-right: 1px solid darkgray;
}

.Container_Right {
  min-height: 570px;
  width: 450px;
}

.Container_Right img {
  width: 460px;
  min-height: 570px;
}

.logo img {
  width: 80px;
  height: 80px;
  display: block;
  margin: auto;
}

.forgot {
  cursor: pointer;
  color: #457A74;
}

.Register {
  cursor: pointer;
  color: #457A74;
}

#login {
  background-color: #457A74;
  outline: none;
  border: none;
}

#Sign {
  color: #457A74;
}
