<!-- <p>user-apprenant works!</p> -->
<div class="Container">
  <div class="Menu">
    <ul>
      <li><img
        src="https://img.freepik.com/free-vector/international-student-day-banner-design_1308-122226.jpg?size=626&ext=jpg&uid=R119572586&ga=GA1.1.662083046.1696519376&semt=ais"
        alt="" srcset="" alt=""></li>
      <li>user-apprenant</li>
    </ul>
  </div>
  <div class="Section">
    <div class="Section_Information">
        <img src="https://img.freepik.com/free-psd/3d-icon-social-media-app_23-2150049569.jpg?size=626&ext=jpg&ga=GA1.1.662083046.1696519376&semt=ais" alt="">
        <div class="Information">
          <p>ID: 2</p>
          <p>Nom: Bah</p>
          <p>Prenom: Thierno Habib</p>
          <p>Email: thiernohabibbah176gmail.com</p>
          <p>Niveau: Licence 2</p>
          <div class="Mdp">
            <p class="text-warning">Mot de passe: **********</p>
            <button class="btn btn">Changer Mot de passe</button>
          </div>
        </div>
        <div class="demi-cercle1"></div>
    </div>
    <div class="Section_note">
      <h3 class="text-center mt-3">Listes des notes Evaluation</h3>
      <br>
        <table class="table" style="width: 85%; margin: auto;">
          <thead>
            <tr>
              <!-- <th scope="col">id</th> -->
              <th scope="col">ID</th>
              <th scope="col">Matiere</th>
              <th scope="col">Professeur</th>
              <th scope="col">Niveau</th>
              <th scope="col">Note</th>
              <th scope="col">Detail</th>
            </tr>
          </thead>
          <tbody >
            <tr>
              <!-- <th scope="row">{{professeur.id}}</th> -->
              <td>1</td>
              <td>HTML</td>
              <td>Fall</td>
              <td>Licence 1</td>
              <td>15</td>
              <td><button class="btn btn" id="btn2" data-bs-toggle="modal" data-bs-target="#exampleModal1">Voir Plus</button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<div class="demi-cercle"></div>

